.packingimg1 {
  background-image: url("/images/packingimg1.webp");
  background-size: cover;
  background-position: center;
}
.packingimg2 {
  background-image: url("/images/packingimg2.webp");
  background-size: cover;
  background-position: center;
}
